@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "system-ui", "sans-serif";
  color: rgb(92, 92, 108);
}

.circular-progress {
  position: absolute;
  color: #242432 !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.circular-progress.magenta {
  position: absolute;
  color: #d14f78 !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
}
